<h1>Activez votre compte</h1>

<p>
    Votre inscription sur le site CarNow est à valider en cliquant sur le linen ci-dessous : <br><br>
    <a href="{{ signedUrl }}">Confirmez votre Email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>

