{% extends 'base.html.twig' %}

{% block title %}New Renting{% endblock %}

{% block body %}
    <h1>Create new Renting</h1>

    {{ include('renting/_form.html.twig') }}
    <a class="btn btn-outline-success" href="{{ path('payment', {'idCar': car.id, 'idUser': app.user.id}) }}">Louer</a>
    <a class="btn btn-outline-success" href="{{ path('car_show', {'id': car.id}) }}">Retour Voiture</a>
{% endblock %}
