<form method="get" action="{{ path('car_index') }}">
    <input type="datetime-local" name="start"/>
    <input type="datetime-local" name="end"/>
{#    <input type="text" name="brand"/>#}
{#    <input type="text" name="model"/>#}
    <button class="btn">Rechercher</button>
</form>