{% extends 'base.html.twig' %}

{% block title %}Car index{% endblock %}

{% block body %}


    <main class="d-flex">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <h1>Car index</h1>
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            </a>
            <hr>
            <div class="dropdown-menu dropdown-menu-dark position-static d-grid gap-1 p-2 rounded-3 mx-0 border-0 shadow w-220px">
                <p class="text-center" style="font-size:large">Filtrer les véhicules</p>
                {% include 'car/filter.html.twig' with {form: form} only %}
            </div>

        </div>

        <div class="album py-5 bg-light">

            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 d-flex justify-content-around">
                    {% for car in cars %}
                        {% include 'car/_card.html.twig' with {car: car} only %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
