{% extends 'base.html.twig' %}

{% block title %}Véhicule{% endblock %}

{% block body %}


    <main class="d-flex container">
        <div class="d-flex flex-column flex-shrink-1 p-3 bg-light ">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            </a>
            <hr>
                <h1 class="text-center" style="font-size:x-large">Filtrer les véhicules</h1>
                {% include 'car/filter.html.twig' with {form: form} only %}
        </div>

        <div class="album py-5 bg-light">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 d-flex justify-content-around">
                    {% for car in cars %}
                        {% include 'car/_card.html.twig' with {car: car} only %}
                    {% endfor %}
                </div>
            </div>
    </main>
{% endblock %}
